body{
    background-image: url(https://wallscloud.net/img/resize/1366/768/MM/2016-12-08-nike-wn48.jpg);
    background-size: cover;
}
.box{
    padding: 20px;
    padding-top: 30px;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    background-color: aliceblue;
    border-radius: 20px;
    backdrop-filter: blur(10%);
    margin: 50px auto;
}